<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Site</title>
    <link rel="stylesheet" href="article.css">
</head>
<body>
    <header>
        <h1>News Site</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">World</a></li>
                <li><a href="#">Politics</a></li>
                <li><a href="#">Technology</a></li>
                <li><a href="#">Entertainment</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <article class="article">
            <div>
                <a><%= article.title%></a>
                <p><%= article.subTitle%></p>
            </div>
        </article>
        <div class="content"><%=article.content%></div>
    </main>
</body>
</html>
